<app-app-operation (add)=" isVisible = $event " (search)="getRetiranteByIdOrNombre($event)" (delete)="deleteRetirante()"
    (download)="exportToExcel()"></app-app-operation>

<p-dialog [(visible)]="isVisible" [modal]="true" header="Registrar Retirante">
    <div style="margin-top: 25px;">
        <p-floatLabel>
            <input pInputText id="id" [formControl]="id" />
            <label style="color: black" for="cedula">Id</label>
        </p-floatLabel>
    </div>
    <div *ngIf="id.invalid && (id.dirty || id.touched)">
        <small *ngIf="id.errors?.['required']">El Id es obligatoria.</small>
        <small *ngIf="id.errors?.['pattern']">El Id debe contener solo números.</small>
    </div>

    <div style="margin-top: 25px;">
        <p-floatLabel>
            <input pInputText id="nombre" [formControl]="nombre" />
            <label style="color: black" for="nombre">Nombre</label>
        </p-floatLabel>
    </div>
    <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
        <small *ngIf="nombre.errors?.['required']">El nombre es obligatorio.</small>
        <small *ngIf="nombre.errors?.['pattern']">El nombre debe contener solo letras.</small>
    </div>

    <div style="margin-top: 25px;">
        <p-floatLabel>
            <input pInputText id="telefono" [formControl]="telefono" />
            <label style="color: black" for="telefono">Teléfono</label>
        </p-floatLabel>
    </div>
    <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)">
        <small *ngIf="telefono.errors?.['required']">El teléfono es obligatoria.</small>
        <small *ngIf="telefono.errors?.['pattern']">El teléfono debe ser un número.</small>
    </div>

    <div style="margin-top: 25px;">
        <p-floatLabel>
            <input pInputText id="direccion" [formControl]="direccion" />
            <label style="color: black" for="direccion">Dirección</label>
        </p-floatLabel>
    </div>
    <div *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)">
        <small *ngIf="direccion.errors?.['required']">La dirección es obligatoria.</small>
        <small *ngIf="direccion.errors?.['pattern']">La dirección debe ser alfanúmerico.</small>
    </div>

    <div style="margin-top: 25px">
        <p-button (onClick)="cancelRecord()" [text]="true" label="Cancelar" [rounded]="true"
            [style]="{'color': 'black', 'font-size': '10px', 'margin-left': '60px'}"></p-button>
        <p-button (onClick)="createRetirante()" label="Guardar" icon="pi pi-save" [rounded]="true"
            [style]="{'background-color': 'limegreen','border-color':'limegreen', 'color': 'black', 'font-size': '10px', 'margin-left': '10px'}"></p-button>
    </div>
</p-dialog>

<p-dialog [(visible)]="isVisibleUpdate" [modal]="true" header="Modificar Retirante">
    <div style="margin-top: 25px">
        <p-floatLabel>
            <input pInputText id="nombre" [formControl]="nombre" />
            <label style="color: black" for="nombre">Nombre</label>
        </p-floatLabel>
    </div>
    <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
        <small *ngIf="nombre.errors?.['pattern']">El nombre debe contener solo letras.</small>
    </div>

    <div style="margin-top: 25px">
        <p-floatLabel>
            <input pInputText id="telefono" [formControl]="telefono" />
            <label style="color: black" for="telefono">Teléfono</label>
        </p-floatLabel>
    </div>
    <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)">
        <small *ngIf="telefono.errors?.['pattern']">El teléfono debe ser un número.</small>
    </div>

    <div style="margin-top: 25px">
        <p-floatLabel>
            <input pInputText id="direccion" [formControl]="direccion" />
            <label style="color: black" for="direccion">Dirección</label>
        </p-floatLabel>
    </div>
    <div *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)">
        <small *ngIf="direccion.errors?.['pattern']">La dirección debe ser alfanúmerico.</small>
    </div>

    <div style="margin-top: 25px">
        <p-button (onClick)="cancelRecord()" [text]="true" label="Cancelar" [rounded]="true"
            [style]="{'color': 'black', 'font-size': '10px', 'margin-left': '60px'}"></p-button>
        <p-button (onClick)="updateRetirante()" label="Actualizar" [rounded]="true"
            [style]="{'background-color': 'limegreen','border-color':'limegreen', 'color': 'black', 'font-size': '10px', 'margin-left': '10px'}"></p-button>
    </div>
</p-dialog>

<p-table [(selection)]="selectedRetirantes" dataKey="id" [value]="retirantes" scrollable="true" scrollHeight="300px"
    class="small-table" [style]="{
      'height':'300px',
      'width': '700px',
      'border-radius': '5px',
      'overflow': 'hidden',
      'margin-top':'20px',
      'margin-left': '280px'}">
    <ng-template pTemplate="header">
        <tr>
            <th><p-tableHeaderCheckbox /></th>
            <th>Acción</th>
            <th>Id</th>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Dirección</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-retirante>
        <tr>
            <td>
                <p-tableCheckbox [value]="retirante" />
            </td>
            <td>
                <p-button icon="pi pi-pen-to-square" (onClick)="editRetirante(retirante)" [text]="true"
                    class="p-button-text" [style]="{ 'color': 'orange', 'border-radius': '5px', 'padding': '0px'}" />
            </td>
            <td>{{ retirante.id}}</td>
            <td>{{ retirante.nombre }}</td>
            <td>{{ retirante.telefono }}</td>
            <td>{{ retirante.direccion }}</td>
        </tr>
    </ng-template>
</p-table>
<p-toast position="bottom-center"></p-toast>
<p-confirmDialog></p-confirmDialog>
<p class="p2">Resultado:{{retirantes.length}}</p>